# Node.js dependencies


# Environment variables
.env

# TensorFlow files
node_modules/@tensorflow/tfjs-node/deps/lib/tensorflow.dll

# Ignore TensorFlow DLL and other large binary files
node_modules/@tensorflow/tfjs-node
C:/tensorflow-deps/tfjs-node
C:/tensorflow-deps/
