# Node.js dependencies


# Environment variables
.env

# TensorFlow files
node_modules/@tensorflow/tfjs-node/deps/lib/tensorflow.dll

# Logs
logs
*.log
npm-debug.log*

# Ignore any generated directories or files
dist/
build/
